.product-container {
	max-width: 100%;
	padding: 0 1rem;
	position: relative;
}

.product-container img {
	width: 100%;
}

.product-desc-rating {
	padding: 0.5rem !important;
	width: 100px;
}

.image-wishlist-icon-container {
	position: absolute;
	top: 0.5rem;
	right: 1.5rem;
	width: 40px;
	height: 40px;
	background-color: #fff;
	border-radius: 50%;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
	cursor: pointer;
}

.image-wishlist-icon-container svg {
	width: 60%;
	height: 60%;
	margin: 10px 8px;
	color: #9b9999;
}

.button {
	display: block;
	margin: 1rem auto 1rem auto;
}
